<font size = '7'> Table of Contents </font>

 - Chapter 1 - How a Data Scientist Beat the Odds
 - Chapter 2 - A Data Science Framework 
 - Chaptrer 3 - Step 1: Define the Problem and Step 2: Gather the data 
 - Chapter 4 - Step 3: Prepare Data for Consumption
 - Chapter 5 - The 4 C's Data Cleanning - Correcting, Completing, Creating, and Converting 
 - Chapter 6 - Step 4: Perform EDA with Stats
 - Chapter 7 - Step 5: Model Data 
 - Chapter 8 - Evaluate Model Performance 
 - Chapter 9 - Tune Model With Hyper-Parameters
 - Chapter 10 - Tune Model with Feature Selection
 - Chapter 11 - Step 6: Validate and Implement 
 - Chapter 12 - Conclusion and Step 7: Optimize and Strategize 
 - Change Log
 - Credits

<font size = '4'> How a Data Scientist Beat the Odds </font>

It's the classical problem, predict the outcome of a binary event. In laymen terms this means, it either occurred or did not occur. For example, you won or did not win, you passed the test or did not pass the test, you were accepted or not accepted, and you get the point. A common business application is churn or customer retention. Another popular use case is, healthcare's mortality rate or survival analysis. Binary events create an interesting dynamic, because we know statistically, a random guess should achieve a 50% accuracy rate, without creating one single algorithm or writing one single line of code. However, just like autocorrect spellcheck technology, sometimes we humans can be too smart for our own good and actually underperform a coin flip. In this kernel, I use Kaggle's Getting Started Competition, Titanic: Machine Learning from Disaster, to walk the reader through, how-to use the data science framework to beat the odds.

<font size = '5'> **A Data Science Framework** </font>

1. **Define the Problem**: If data science, big data, machine learning, predictive analytics, business intellidence, or any other buzzword is the solution, then what is the problem?. As the saying goes, don't put the cart before the horse. `Problems before requirements, requirements before solutions, solutions before design, and design before technology*`Too often we are quick to jump on the new shiny technology, tool, or algorithm before determining the actual problem we are trying to solve.

2. **Gather the Data**: John Naisbitt wrote in his book, we are 'drowning in data', yet staving for knowledge. So, chances are, the datasets already exist somewhere, in some format. It may be external or internal, structured or unstructered, static or streamed, objective or subjective. As the saying goes, you don't have to reinvent the wheel, you just have to know where to find it. In the next step, we will worry about transforming 'dirty data' to 'clean data'.

3. **Prepare Data for Consumption**: This step is often referred to as data wrangling, a required process to turn 'wild' data into 'manageable' data. Data wrangling includes implementing data architectures for storage and processing, developing data governance standards for quality and control,. data extraction, and data cleaning to identify aberrant, missing, or outlier data points. 

4. **Perform Exploratory Analysis**: Anybody who has ever worked with data knows, garbage-in, garbage-out (GIGO). Therefore, it is important to deploy descriptive and graphical statistics to look for potential problems, patterns, classifications, correlations and comparisons in the dataset. In addition, data categorization (qualitative and quantitative) is also important to understand and select the correct hypothesis test or data model/

5. **Model Data**: Like descriptive and inferential stats, data modeling can either suummarize the data or predict future outcomes. Your dataset and expected results, will determine the algorithms available for use. It's important to remember, algorithms are tools and not magiccal wands or silver bullets. You must still be the master craft that select the right tool for the job. An analogy would be asking someone to hand you a Philip screwdriver, and they hand you a flathead screwdriver or worst a hammer. At best, it shows a complete lack of understanding. At worst, it makes completing the project impossible. The same is true in data modeling. The wrong model can lead to poor performance at best and wrong conclusion (that;s used as actionable intelligence) at worst.

6. **Validate and Implement Data Model**: After you've trained your model based on subset of your data, it's time to test your model. This helps ensure you haven't overfit your model or made it so specific to the selected subset, that it does not accurately fit another subset from the same dataset. In this step, we determine if our model overfit generalize, or underfit our dataset. 

7. **Optimize and Strategize**: This is the 'bionic man' step, where you iterate back through the process to make it bettter, stronger and faster than it was before. As a data scientist, your strategy should be to outsource developer operations and application plumbing, so you more time to focus on recommendations and design. Once you're able to package your ideas, this becomes your 'currency exchange' rate.

<font size='5'> **Step 1: Define the Problem** </font>

For this project, the problem statement is given to us a golden plater, develop an algorithm to predict the survival outcome of passengers on the Titanic.

Project Summary: The sinking of the RMS Titanic is one of the most infamous shipwrecks in history. On April 15, 1912, during her maiden voyage, the Titanic sank after colliding with an iceberg, killing 1502 out of 2224 passengers and crew. This sensational tragedy shocked the international community and led to better safety regulations for ships.

One of the reasons that the shipwreck led to such loss of life was that there were not enough lifeboats for the passengers and crew. Although there was some element of luck involved in surviving the sinking, some groups of people were more likely to survive than others, such as women, children, and the upper-class.

In this challenge, we ask you to complete the analysis of what sorts of people were likely to survive. In particular, we ask you to apply the tools of machine learning to predict which passengers survived the tragedy.

Practice Skills

Binary classification
Python and R basics

<font size='5'> **Step 2: Gather the Data** </font>

The dataset is also given to us on a golden plater with test and train data at Kaggle's Titanic: Machine Learning from Disaster

<font size='5'> **Step 3: Prepare Data for Consumption** </font>

Since step 2 was provided to us on a golden plater, so is step 3. Therefore, normal processes in data wrangling, such as data architecture, governance, and extraction are out of scope. Thus, only data cleaning is in scope.

<font size='3'> **3.1: Import Libraries** </font>

The following code is written in Python 3.x. Libraries provide pre-written functionality to perform necessary tasks. The idea is why write ten lines of code, when you can write one line.

In [31]:
# This Python 3 environment comes with many helpful analytics libraries installed 
# It is defined by  the kaggle/python docker image 

# Load packages 

import sys # access to sytem parameters 
print('Python version: {}'.format(sys.version))

import pandas as pd 
print('pandas version: {}'.format(pd.__version__))

import matplotlib 
print('matplotlib version: {}'.format(matplotlib.__version__))

import numpy as np 
print('NumPy version : {}'.format(np.__version__))

import scipy as sp 
print('SCiPy version: {}'.format(sp.__version__))

import IPython
from IPython import display #Pretty printing of dataframes in Jupyter notebook 
print('IPython version:{}'.format(IPython.__version__))

import sklearn # collection of machine learning algorithms
print('scikit-learn version: {}'.format(sklearn.__version__))

# misc libraries 
import random 
import time 

# ignore warnings 
import warnings 
warnings.filterwarnings("ignore")
print('_'*25)

Python version: 3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]
pandas version: 1.0.1
matplotlib version: 3.1.3
NumPy version : 1.18.1
SCiPy version: 1.4.1
IPython version:7.12.0
scikit-learn version: 0.22.1
_________________________

<font size='3'> **3.11: Load Data Modelling Libraries** </font>

We will use the popular scikit-learn library to develop our machine learning algorithms. In sklearn, algorithms are called Estimators and implemented in their own classes. For data visualization, we will use the matplotlib and seaborn library.

In [32]:
# Common Model ALgorithms 

from sklearn import svm, tree, linear_model, neighbors, naive_bayes, ensemble, discriminant_analysis, gaussian_process
from xgboost import XGBClassifier 


#Common Model Helpers 
from sklearn.preprocessing import OneHotEncoder, LabelEncoder 
from sklearn import feature_selection
from sklearn import metrics 

#Visualization 
import matplotlib as mpl
import matplotlib.pyplot as plt 
import matplotlib.pylab as pylab 
import seaborn as sns 


# Configure VisualizationDefaults 
#%matplotlib inline = show plots in Jupyter Notebook browser 
%matplotlib inline

mpl.style.use('ggplot')
sns.set_style('white')
pylab.rcParams['figure.figsize']=12,8

<font size = '5'> **Meet and Greet Data** </font> 

This is the meet and greet step. Get to know your data by first name and leanr alittle bit about it. What does it look like (datatype and values), what makes it tick (independent/feature variables), what's it goal in lfe (dependent/target variable(s)). Think of it like a first date, before you jumpin and start poking it in the bedroom

To begin this step, we first import our data. Next we use the info() and sample() function, to get a quick and dirty overview of variable datatypes (qualitative vs quantitative).

  1. The Survived variable is our outcome or dependent variable. It is abinary nomial datatype of 1  for survived and 0 for did not survive. All other variables are potential predictor or independent variables. **It's important to note, more predictor variables do not make better model, but the right variables**
  2. The PassengerID and Ticket varrables are assumed to be random unique identifiers, that have no impact on the outcome variable. Thus, they will be excluded from analysis 
  3. The Pclass variable is an ordinal datatype for the ticket class, a proxy for socio--economic status (SES), representing 1 = upper class, 2 = middle class, and 3 = lower class.
  4. The Name variable is a nominal datatype. It could be used in feature engineering to derive the gender from title, family size from surname, and SES from titles like dotor or master. Since these variable already exist, we'll make use of it to see if title, like master, makes a difference.
  5. The Sex and Embarked variables are a nominal datatype. They will be converted to dummy variables for mathematical calculations 
  6. The Age and Fare variable are continuous quantitative datatypes.
  7. The SibSp represents number of related siblings/spouse aboard and Parch represents number of related parents.children aboard. Both are discrete quantitative datatypes. This can be used for feature engineering to create a family size and is alone variable.
  8. The Cabin variable is a nominal datatype that can be used in feature engineering for approximate position on ship when the incident occurred and SES from deck levels. However since there are many null values, it does not add value and thus is excluded from analysis

In [33]:
# import data 

data_raw = pd.read_csv('train.csv')

# dataset should be broken into 3 splits: train, test, and(final) validation 
# the test file provided is the validation file for competition submission 

data_val = pd.read_csv('test.csv')
# to play with our data we'll create a copy 
data1 = data_raw.copy(deep = True)

#however passing by reference is convenienct, because we can clean both datasets at one 

data_cleaner = [data1, data_val]

# preview data 
print(data_raw.info())
data_raw.sample(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
810,811,0,3,"Alexander, Mr. William",male,26.00,0,0,3474,7.8875,NaN,S
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.00,0,0,111240,33.5000,B19,S
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.00,0,0,7534,9.8458,NaN,S
343,344,0,2,"Sedgwick, Mr. Charles Frederick Waddington",male,25.00,0,0,244361,13.0000,NaN,S
369,370,1,1,"Aubart, Mme. Leontine Pauline",female,24.00,0,0,PC 17477,69.3000,B35,C
801,802,1,2,"Collyer, Mrs. Harvey (Charlotte Annie Tate)",female,31.00,1,1,C.A. 31921,26.2500,NaN,S
376,377,1,3,"Landergren, Miss. Aurora Adelia",female,22.00,0,0,C 7077,7.2500,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.00,0,0,17466,25.9292,D17,S
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.00,1,0,SC/PARIS 2149,13.8583,NaN,C

<font size = '5'> **THe 4 C's of Data Cleaning: Correcting, Completing, Creating, and Converting** </font>

In this stage, we will clean our data by

 - 1) Correcting aberrant values and outliers 
 - 2) completing missing information 
 - 3) creating new features for analysis
 - 4) converting fields to the correct format for calculations and presentation

1. **Correcting**: Reviewing the data, there does not appear to be any aberrant or non-acceptable data inputs. In addition, we see we may have potential outliers in age and fare. However, since they are reasonable values, we will wait until after we complete our EDA to determine if we should include or exclude the dataset. It should be noted, that if they were unreasonable values, for example age = 800 instead of 80, then it's probably a safe decision to fix now. However, we want to use caution when we modify data from its original value, because it may be neccesary to create an  accurate model.

2. **Completing**: There are null values or missing data in the age, cabin, and emabrked field. Missing values can be bad, because some algorithms don't know how to handle null values and will fail. While others, like decision trees, can handle null values. Thus, it's important to fix before we start modeling, because we will compare and contrast several models. There are two common methods, either delete the record or populate the missing value using a reasonable input. It is not recommended to delete the record, especially a large percentage of records, unless it tryly represents an incomplete record. Instead, it's best to impute missing values. A basic methodolodogy for qualitative data is impute using mode. A basic methodolody for quantitative d√¢t is impute using mean, median, or mean + randomized standard deviation. An intermediate methodology is to use the basic methodology based on specific criteria; like the average age by class or embark port by fare and SES. There are more comple methodologies, however before deploying, it shouyld be compared to the base model to determine if complexity tryly adds value. For this dataset, age will be imputed with the median, the cabin attribute will be dropped, and embark will be imputed with mode. Subsequrnt model iterations may modify this decision to determine if it improves the model's accuracy.

3. **Creating**: Feature engineering is when we use existing features to create new features to determine if they provide new signals to predict our outcome. For this dataset, we will create a title feature to determine if it improves the model's accuracy.

4. **Converting**: Last, but certainly not least, we'll deal with formating. There are no date or currency formats, but datatype formats. Our categorical data imported as objects, which makes it difficult for mathematical calculations. For this dataset, we will convert object datatypes to categorical dummy variables.

In [34]:
print('Train columns with null values:\n', data1.isnull().sum())
print('_'*100)

print('Test/Validation columns with null values:\n', data_val.isnull().sum())
print('_'*100)

data_raw.describe(include = 'all')

Train columns with null values:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
____________________________________________________________________________________________________
Test/Validation columns with null values:
 PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64
____________________________________________________________________________________________________

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Asplund, Miss. Lillian Gertrud",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

<font size ='5'> **3.22 Clean Data** </font>

Now that we know what to clean, lets excecute our code

**Developer Documentation:**

 - pandas.DataFrame
 - pandas.DataFrame.info
 - pandas.DataFrame.describe
 - Indexing and Selecting Data 
 - pandas.isnull
 - pandas.DataFrame.sum
 - pandas.DataFrame.mode
 - pandas.DataFrame.copy
 - pandas.DataFrame.fillna
 - pandas.DataFrame.drop
 - pandas.Series.value_counts
 - pandas.DataFrame.loc

In [35]:
###COMPLETING:complete or delete missing values in train and test /validation dataset 

for dataset in data_cleaner:
    #complete missing age with median
    dataset['Age'].fillna(dataset['Age'].median(), inplace = True)
    
    # complete embarked with mode 
    dataset['Embarked'].fillna(dataset['Embarked'].mode()[0], inplace = True)
    
    # complete missing fare with median 
    dataset['Fare'].fillna(dataset['Fare'].median(), inplace= True)
    
#delete the cabin feature/ column and others previously stated to exclude in train dataset 
drop_column = ['PassengerId', 'Cabin', 'Ticket']
data1.drop(drop_column, axis=1, inplace = True)

print(data1.isnull().sum())
print('_'*100)
print(data_val.isnull().sum())

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64
____________________________________________________________________________________________________
PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [36]:
###CREATE: Feature Engineering for train and test/validation dataset 

for dataset in data_cleaner:
    #Discrete variables
    dataset['FamilySize'] = dataset['SibSp']+ dataset['Parch'] + 1 
    dataset['IsAlone'] = 1 
    dataset['IsAlone'].loc[dataset['FamilySize']>1] = 0
    dataset['Title'] = dataset['Name'].str.split(',', expand = True)[1].str.split('.', expand=True)[0]
    dataset['FareBin'] = pd.qcut(dataset['Fare'], 4)
    dataset['AgeBin'] = pd.cut(dataset['Age'].astype(int), 5)


stat_min = 10 
title_names = (data1['Title'].value_counts() < stat_min)

data1['Title'] = data1['Title'].apply(lambda x: 'Misc' if title_names.loc[x] == True else x)

#preview 
data1.info()
print('_'*100)
data_val.info()
print('_'*100)
data1.sample(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    891 non-null    int64
 1   Pclass      891 non-null    int64
 2   Name        891 non-null    object
 3   Sex         891 non-null    object
 4   Age         891 non-null    float64
 5   SibSp       891 non-null    int64
 6   Parch       891 non-null    int64
 7   Fare        891 non-null    float64
 8   Embarked    891 non-null    object
 9   FamilySize  891 non-null    int64
 10  IsAlone     891 non-null    int64
 11  Title       891 non-null    object
 12  FareBin     891 non-null    category
 13  AgeBin      891 non-null    category
dtypes: category(2), float64(2), int64(6), object(4)
memory usage: 85.8+ KB
____________________________________________________________________________________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
 11  FamilySize   418 non-null    int64
 12  IsAlone      418 non-null    int64
 13  Title        418 non-null    object
 14  FareBin      418 non-null    category
 15  AgeBin       418 non-null    category
dtypes: category(2), float64(2), int64(6), object(6)
memory usage: 47.1+ KB
____________________________________________________________________________________________________

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,Title,FareBin,AgeBin
809,1,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",female,33.0,1,0,53.1000,S,2,0,Mrs,"(31.0, 512.329]","(32.0, 48.0]"
547,1,2,"Padro y Manent, Mr. Julian",male,28.0,0,0,13.8625,C,1,1,Mr,"(7.91, 14.454]","(16.0, 32.0]"
653,1,3,"O'Leary, Miss. Hanora ""Norah""",female,28.0,0,0,7.8292,Q,1,1,Miss,"(-0.001, 7.91]","(16.0, 32.0]"
172,1,3,"Johnson, Miss. Eleanor Ileen",female,1.0,1,1,11.1333,S,3,0,Miss,"(7.91, 14.454]","(-0.08, 16.0]"
566,0,3,"Stoytcheff, Mr. Ilia",male,19.0,0,0,7.8958,S,1,1,Mr,"(-0.001, 7.91]","(16.0, 32.0]"
641,1,1,"Sagesser, Mlle. Emma",female,24.0,0,0,69.3000,C,1,1,Misc,"(31.0, 512.329]","(16.0, 32.0]"
462,0,1,"Gee, Mr. Arthur H",male,47.0,0,0,38.5000,S,1,1,Mr,"(31.0, 512.329]","(32.0, 48.0]"
442,0,3,"Petterson, Mr. Johan Emil",male,25.0,1,0,7.7750,S,2,0,Mr,"(-0.001, 7.91]","(16.0, 32.0]"
538,0,3,"Risien, Mr. Samuel Beard",male,28.0,0,0,14.5000,S,1,1,Mr,"(14.454, 31.0]","(16.0, 32.0]"
191,0,2,"Carbines, Mr. William",male,19.0,0,0,13.0000,S,1,1,Mr,"(7.91, 14.454]","(16.0, 32.0]"

<font size = '5'> **3.23 Convert Formats** </font>

We will convert categorical data to dummy variables for mathematical analysis. There are multiple ways to encode categorical variables; we will use the sklearn and pandas functions.

In this step, we will also define our x (independent/features/explanatory/predictor/etc.) and y (dependent/target/response/etc.) variables for data modeling.

**Developer Documentation** 

- Categorical Encoding 
- Sklearn LabelEncoder 
- Sklearn OneHotEncoder
- Pandas Categorical dtype
- pandas.get_dummies

In [50]:
#CONVERT: convert objects to category using Label Encoder for train and test/ validation dataset

#code categorical data 

label = LabelEncoder() 
for dataset in data_cleaner:
    dataset['Sex_Code']=label.fit_transform(dataset['Sex'])
    dataset['Embarked_Code'] = label.fit_transform(dataset['Embarked'])
    dataset['Title_Code'] = label.fit_transform(dataset['Title'])
    dataset['AgeBin_Code'] = label.fit_transform(dataset['AgeBin'])
    dataset['FareBin_Code'] = label.fit_transform(dataset['FareBin'])
    
# define  y variable aka target/outcome 

Target = ['Survived']

# define x variables for original features aka feature selection 
data1_x = ['Sex', 'Pclass', 'Embarked', 'Title', 'SibSp', 'Parch', 'Age', 'Fare', 'FamilySize', 'IsAlone'] 
data1_x_calc = ['Sex_Code', 'Pclass', 'Embarked_Code', 'Title_Code', 'SibSp', 'Parch', 'Age', 'Fare'] 
data1_xy = Target + data1_x 
print('Original X Y:', data1_xy, '\n')

# define x variables for original w/bin features to remove continuous variables 

data1_x_bin = ['Sex_Code', 'Pclass', 'Embarked_Code', 'Title_Code', 'FamilySize', 'AgeBin_Code', 'FareBin_code']
data1_xy_bin = Target + data1_x_bin
print('Bin X Y: ', data1_xy_bin, '\n')

# define x and y variables for dummy features original 

data1_dummy = pd.get_dummies(data1[data1_x])
data1_x_dummy = data1_dummy.columns.tolist()
data1_xy_dummy = Target + data1_x_dummy
print('Dummy X Y: ', data1_xy_dummy, '\n')

data1_dummy.head()

Original X Y: ['Survived', 'Sex', 'Pclass', 'Embarked', 'Title', 'SibSp', 'Parch', 'Age', 'Fare', 'FamilySize', 'IsAlone']

Bin X Y:  ['Survived', 'Sex_Code', 'Pclass', 'Embarked_Code', 'Title_Code', 'FamilySize', 'AgeBin_Code', 'FareBin_code']

Dummy X Y:  ['Survived', 'Pclass', 'SibSp', 'Parch', 'Age', 'Fare', 'FamilySize', 'IsAlone', 'Sex_female', 'Sex_male', 'Embarked_C', 'Embarked_Q', 'Embarked_S', 'Title_ Master', 'Title_ Miss', 'Title_ Mr', 'Title_ Mrs', 'Title_Misc']

,Pclass,SibSp,Parch,Age,Fare,FamilySize,IsAlone,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Title_ Master,Title_ Miss,Title_ Mr,Title_ Mrs,Title_Misc
0,3,1,0,22.0,7.2500,2,0,0,1,0,0,1,0,0,1,0,0
1,1,1,0,38.0,71.2833,2,0,1,0,1,0,0,0,0,0,1,0
2,3,0,0,26.0,7.9250,1,1,1,0,0,0,1,0,1,0,0,0
3,1,1,0,35.0,53.1000,2,0,1,0,0,0,1,0,0,0,1,0
4,3,0,0,35.0,8.0500,1,1,0,1,0,0,1,0,0,1,0,0

<font size ='5'> **3.24 Da-Double Check Cleaned Data** </font>

Now that we've cleaned our data, let's do a discount da-double check!

In [51]:
print('Train columns with null values: \n', data1.isnull().sum())
print("-"*10)
print (data1.info())
print("-"*10)

print('Test/Validation columns with null values: \n', data_val.isnull().sum())
print("-"*10)
print (data_val.info())
print("-"*10)

data_raw.describe(include = 'all')

Train columns with null values:
 Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Fare             0
Embarked         0
FamilySize       0
IsAlone          0
Title            0
FareBin          0
AgeBin           0
Sex_Code         0
Embarked_Code    0
Title_Code       0
AgeBin_Code      0
FareBin_Code     0
dtype: int64
----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Survived       891 non-null    int64
 1   Pclass         891 non-null    int64
 2   Name           891 non-null    object
 3   Sex            891 non-null    object
 4   Age            891 non-null    float64
 5   SibSp          891 non-null    int64
 6   Parch          891 non-null    int64
 7   Fare           891 non-null    float64
 8   Embarked       891 non-null    object
 9   FamilySize     891 non-null    int64
 10  IsAlone        891 non-null    int64
 11  Title          891 non-null    object
 12  FareBin        891 non-null    category
 13  AgeBin         891 non-null    category
 14  Sex_Code       891 non-null    int32
 15  Embarked_Code  891 non-null    int32
 16  Title_Code     891 non-null    int32
 17  AgeBin_Code    891 non-null    int32
 18  FareBin_Code   891 non-null    int32
dtypes: category(2), float64(2), int32(5), int64(6), object(4)
memory usage: 103.3+ KB
None
----------
Test/Validation columns with null values:
 PassengerId        0
Pclass             0
Name               0
Sex                0
Age                0
SibSp              0
Parch              0
Ticket             0
Fare               0
Cabin            327
Embarked           0
FamilySize         0
IsAlone            0
Title              0
FareBin            0
AgeBin             0
Sex_Code           0
Embarked_Code      0
Title_Code         0
AgeBin_Code        0
FareBin_Code       0
dtype: int64
----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PassengerId    418 non-null    int64
 1   Pclass         418 non-null    int64
 2   Name           418 non-null    object
 3   Sex            418 non-null    object
 4   Age            418 non-null    float64
 5   SibSp          418 non-null    int64
 6   Parch          418 non-null    int64
 7   Ticket         418 non-null    object
 8   Fare           418 non-null    float64
 9   Cabin          91 non-null     object
 10  Embarked       418 non-null    object
 11  FamilySize     418 non-null    int64
 12  IsAlone        418 non-null    int64
 13  Title          418 non-null    object
 14  FareBin        418 non-null    category
 15  AgeBin         418 non-null    category
 16  Sex_Code       418 non-null    int32
 17  Embarked_Code  418 non-null    int32
 18  Title_Code     418 non-null    int32
 19  AgeBin_Code    418 non-null    int32
 20  FareBin_Code   418 non-null    int32
dtypes: category(2), float64(2), int32(5), int64(6), object(6)
memory usage: 55.3+ KB
None
----------

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Asplund, Miss. Lillian Gertrud",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

<font size = '5'> **3.25 Split Training and Testing Data** </font>

As mentioned previously, the test file provided is really validation data for competition submission. So, we will use sklearn function to split the training data in two datasets; 75/25 split. This is important, so we don't overfit our model. Meaning, the algorithm is so specific to a given subset, it cannot accurately generalize another subset, from the same dataset. It's important our algorithm has not seen the subset we will use to test, so it doesn't "cheat" by memorizing the answers. We will use sklearn's train_test_split function. In later sections we will also use sklearn's cross validation functions, that splits our dataset into train and test for data modeling comparison.